#left_menu{
	width: 235px;
	display: inline-table;
	margin-top: 20px;
	text-align: left;
	font-family:"Times New Roman", Times, serif;
    font-style: regular;
}
#product_preference_list{
	width: 700px;
	float: right;
	margin-top: 20px;
}
.cabinet_left_title{
	color: #222222;
	font-size: 14px;
}
.cabinet_left_list{
	font-size: 14px;
	margin-top: 5px;
}
a.cabinet_left_a{
	color: #FF4803 !important;
	font-size: 14px;
	margin-top: 5px;
	display: block;
}
.cabinet_height10{
	height: 20px;
}
#left_menu label{
	font-size: 14px;
	color: #222222;
}
#left_menu input{
	border-radius: 0;
	border: solid 1px #222222;
}
.product{
	font-family: 'Times New Roman';
    font-size: 12px;
    text-align: left;
    width: 230px;
    color: #222222;
    display: inline-table;
    margin-bottom: 40px;
}
.line_product{
	background: none repeat scroll 0 0 #000000;
    height: 2px;
    margin-right: 25px;
}


/***************************/

#content_register{
    margin-top: 15px;
}
#title_step{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    clear: both;
}
#name_step{
    float: left;
    width: 600px;
    height: 35px;
    font-size: 34px;
    color: #000;
}
#count_step{
    float: right;
    width:100px;
    height: 35px;
    font-size: 69px;
}

.div_button_option{
    clear: both;
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 12px;
    padding-top: 20px;
}

.button_option{
    display: inline-table;
    width: 140px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    border: solid 1px;
}

#most_popular{
    background: #000;
    color: #FFF;
    margin-right: 20px;
}

#all_brands{
    background: #F1F1F1;
    color: #b3b3b3;
}

#most_popular:hover{
    background: #333;
}

#all_brands:hover{
    background: #DEDEDE;
}

#select_preference{
    padding-top: 50px;
    padding-bottom: 40px;
}
.colum_preference{
    display: inline-table;
    width: 750px;
    background: #FFF;
}
.row_option{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 12px;
    color: #000;
    margin-bottom: 7px;
    width: 145px;
    display: inline-table;
    margin-right: 5px;
    padding-bottom: 3px;
}
.row_option input{
    padding-top: 3px;
}
.checkbox_option{
    width: 20px;
    float: left;
}
.label_option{
    display: inline-table;
    width: 125px;
}
#colum_preference_select{
    background: #F1F1F1;
    display: inline-table;
    width: 180px;
    text-align: center;
}
#titljslist{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 12px;
}
#select_all{
    background: #F1F1F1;
    color: #b3b3b3;
    margin-right: 20px;
}
#deselect_all{
    background: #F1F1F1;
    color: #b3b3b3;
    margin-right: 20px;
}
#next_click{
    background: #000;
    color: #FFF;
}

#select_all:hover{
    background: #DEDEDE;
}
#deselect_all:hover{
    background: #DEDEDE;
}
#next_click:hover{
    background: #333;
}

.right{
    text-align: right;
}
#whiteblock{
    background: #FFF;
}
.checked{
    background: #F1F1F1;
}

#title_two{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    font-size: 28px;
    margin-top: 30px;
    height: 30px;
}
#title_category{
    display: inline-table;
    width: 315px;
}
#title_size{
    display: inline-table;
    width: 350px;
}

#select_preference_catigories{
	/*
    display: inline-table;
    width: 315px;
    padding-top: 30px;
    padding-bottom: 50px;
    */
}
#group_select{
	/*
    display: inline-table;
    width: 610px;
    */
}
legend{
    color: #222222;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}
#group_select td{
    height: 20px;
    padding-left: 10px;
    color: #222222;
}
#wait_img{
    text-align:center;
    display: none;
    width: 750px;
}
.is_sale{
    display: inline-table;
    width: 49%;
}
/***********************/
#selbrend{
    text-align: left;
}
/***********************/

.col_brands{
    width: 180px;
    display: inline-table;
}
#selbrend{
    text-align: left;
}
#next_page{
    background: #000;
    color: #FFF;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    padding-top: 10px;
}

.titel_milan{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 24px;
    color: #b3b3b3;
    text-align: left;
}
#step_2{
    margin-bottom: 35px;
}
#step-form table{
    text-align: center;
}
.title_brand {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
}
#user_name{
    margin-bottom: 5px;
    color: #b3b3b3;
    font-size: 12px;
}
.cabinet_top_menu{
    display: inline-table;
    width: 49%;
    color: #b3b3b3;
    font-size: 12px;
}
.cabinet_top_menu a{
    color: #b3b3b3;
    font-size: 12px;
}