#content_register{
    margin-top: 50px;
}
#title_step{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    clear: both;
}
#name_step{
    float: left;
    width: 600px;
    height: 35px;
    font-size: 34px;
    color: #000;
}
#count_step{
    float: right;
    width:100px;
    height: 35px;
    font-size: 69px;
}

.div_button_option{
    clear: both;
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 12px;
    padding-top: 20px;
}

.button_option{
    display: inline-table;
    width: 140px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    border: solid 1px;
}

#most_popular{
    background: #000;
    color: #FFF;
    margin-right: 20px;
}

#all_brands{
    background: #F1F1F1;
    color: #b3b3b3;
}

#most_popular:hover{
    background: #333;
}

#all_brands:hover{
    background: #DEDEDE;
}

#select_preference{
    padding-top: 50px;
    padding-bottom: 40px;
}
.colum_preference{
    display: inline-table;
    width: 750px;
    background: #FFF;
}
.row_option{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 12px;
    color: #000;
    margin-bottom: 7px;
    width: 145px;
    display: inline-table;
    margin-right: 5px;
    padding-bottom: 3px;
}
.row_option input{
    padding-top: 3px;
}
.checkbox_option{
    width: 20px;
    float: left;
}
.label_option{
    display: inline-table;
    width: 125px;
}
#colum_preference_select{
    background: #F1F1F1;
    display: inline-table;
    width: 180px;
    text-align: center;
}
#titljslist{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 12px;
}
#select_all{
    background: #F1F1F1;
    color: #b3b3b3;
    margin-right: 20px;
}
#deselect_all{
    background: #F1F1F1;
    color: #b3b3b3;
    margin-right: 20px;
}
#next_click{
    background: #000;
    color: #FFF;
}

#select_all:hover{
    background: #DEDEDE;
}
#deselect_all:hover{
    background: #DEDEDE;
}
#next_click:hover{
    background: #333;
}

.right{
    text-align: right;
}
#whiteblock{
    background: #FFF;
}
.checked{
    background: #F1F1F1;
}
/*******************/
#title_two{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    font-size: 28px;
    margin-top: 30px;
    height: 30px;
}
#title_category{
    display: inline-table;
    width: 315px;
}
#title_size{
    display: inline-table;
    width: 350px;
}
#select_preference_catigories{
    display: inline-table;
    width: 315px;
    padding-top: 30px;
    padding-bottom: 50px;
}
#group_select{
    display: inline-table;
    width: 610px;
}
.select_button{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 13px;
    color: #b3b3b3;
    display: inline-table;
    width: 132px;
    height: 25px;
    padding-top: 5px;
    background: #F1F1F1;
    margin-right: 10px;
    padding-left: 15px;
    position: relative;
}

.ebnah{
    position: absolute;
    right: 5px;
}
#previos{
    background: #F1F1F1;
    color: #b3b3b3;
    margin-right: 20px;
}
.drop_down_list{
    display: none;
    list-style: none;
    width: 145px;
    padding: 0px;
    margin: 0px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    background: #FFF;
    margin-left: -15px;
    margin-top: 7px;
}
.drop_down_item{
    list-style: none;
    color: #000 !important;
}
.drop_down_item:hover{
    background: #F1F1F1 !important;
    color: #b3b3b3 !important;
}
.highlight{
    background: #000 !important;
    color: #FFF !important;
}
/*/////////////////////////////*/
#facebook_login{
    display: inline-table;
    width: 145px;
    margin-top: 10px;
}
#or{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    font-size: 28px;
    display: inline-table;
    width: 93px;
    text-align: center;
    margin-top: 10px;
}
#login_form{
    display: inline-table;
    width: 310px;
    text-align: right;
    margin-top: 10px;
}
#small_text{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 10px;
}
#small_text a{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 10px;
    color: #b3b3b3;
}
#small_text a:hover{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 10px;
    color: #b3b3b3;
}
#login_form input{
    width: 324px;
    height: 30px;
    margin-bottom: 10px;
}
/*////////////////////////*/
#wellcomus{
    float: right;
    width: 820px;
    color: #000;
}
#title_welcom{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 32px;
    color: #222222;
}
#title_welcom2{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 25px;
}
#content_welcom{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 14px;
}
/*******************************/
#start_text{
    display: inline-table;
    width: 500px;
    float: left;
}
#prev_email{
    height: 760px;
    overflow: hidden;
}
#start_title{
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    font-size: 28px;
    color: #222222;
    margin-bottom: 60px;
    
}
#start_step{
    width: 65px;
    font-size: 69px;
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    color: #b3b3b3;
    float: left; 
    height: 70px;
    margin-left: 40px;
    margin-top: -20px;
}
.start_text{
    font-family:"Times New Roman", Times, serif;
    font-style: regular;
    font-size: 18px;
    color: #222222;
    height: 120px;
}
#start_grey_line{
    height: 2px;
    background:  #b3b3b3;
    margin-left: 40px;
}
#start_lt{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #222222;
}
.start_brand_logo{
    margin-top: 20px;
    display: inline-table;
    text-align: center;
    width: 250px
}
.start_margin{
    margin-left: 40px;
    margin-right: 40px
}
.start_brand_logo_footer{
    display: inline-table;
    text-align: center;
    vertical-align: top;
    margin-left: 180px;
    margin-right: 95px;
    margin-top: 20PX;
}
legend{
    color: #222222;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
#group_select td{
    height: 20px;
    padding-left: 10px;
    color: #222222;
}

/***********************/

.col_brands{
    width: 180px;
    display: inline-table;
}
#selbrend{
    text-align: left;
}

.titel_milan{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 24px;
    color: #b3b3b3;
    text-align: left;
}

#step_2{
    margin-bottom: 35px;
}
#step-form table{
    text-align: center;
}

/*********************/
.cab_button{
    width: 100%;
    background: #000;
    font-size: 20px;
    color: #FFF !important;
    display: block;
    font-family: "Times New Roman"; 
    font-style: italic; 
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}