/*

	SearchField
	by Alen Grakalic, brought to you by cssglobe.com

*/

/* default (inactive field) */
.sf_inactive{
    border:2px #000 solid;
    background:#3d91a5;
    color:#333;
}
/* on focus (when field is clicked on)  */
.sf_active{
    border:2px #000 solid;
    background:#fff;
    color:#333;
}
/* with text (when field is inactive but contains user's input)  */
.sf_text{
    border:2px #000 solid;
    background:#fff;
    color:#333;
}

/* suggestions box */
/* js code generates unordered list */
.sf_suggestion{
    position:relative;
    z-index:10001;
}
.sf_suggestion ul{
    position:absolute;
    margin:0;
    padding:0;
    background:#eaeaea;
    top:0;
    left:0;
    text-align: left;
}
.sf_suggestion li{
    margin:0;
    padding:0;
    list-style:none;
}
.sf_suggestion li a{
    display:block;
    text-indent:5px;
    color:#333;
    line-height: 18px;
}
.sf_suggestion li.selected a{
    background:#cacaca;
}