html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0px;
    padding: 0px;
}
body {
    background: #FFF;

}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}
/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
    float:right;
    width:100%;
    padding:0 0;
}
#content {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#home-content {
    margin:auto;
    padding: 0;
    width: 940px;
}
#primary, #secondary {
    overflow:hidden;
    width: 100%;
}
#products-side #primary, #secondary {
    width: 221px;
}
#products-side h1, h2, .xoxo {
    margin: 0px;
}
#primary {

}
#footer {
    clear: both;
    width: 940px;
    color:#b3b3b3;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #000;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 40px;
}
/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
    width: 900px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
/* =Fonts
-------------------------------------------------------------- */
body, input, textarea, .page-title span, .pingback a.url {
    font-family: Arial;
}
h3#comments-title, h3#reply-title, #access .menu, #access div.menu ul, #cancel-comment-reply-link, .form-allowed-tags, #site-info, #site-title, #wp-calendar, .comment-meta, .comment-body tr th, .comment-body thead th, .entry-content label, .entry-content tr th, .entry-content thead th, .entry-meta, .entry-title, .entry-utility, #respond label, .navigation, .page-title, .pingback p, .reply, .widget-title, .wp-caption-text, input[type=submit] {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
    margin: 0 auto;
    width: 940px;
}
#wrapper {
    padding: 0 0 0 0;
}
/* Structure the footer area */
#footer-widget-area .widget-area h3.widget-title {
    background-image: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    font-style: normal;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
}
#footer-widget-area .widget-area li a {
    margin: 0px;
    padding: 0px;
    text-transform: none;
    list-style-type: none;
}
#footer-widget-area .widget-area {
    float: left;
    width: 140px;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 0px;
    font-style: italic;
    color: #b3b3b3;
    font-family: "Times New Roman", Times, serif;
}
#footer-widget-area #sixth {
    margin-right: 0;
}
#footer-widget-area .widget-container, a, li {
    font-size: 12px;
    text-transform: none;
    margin: 0px;
    padding: 0px;
}
#site-info {
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    color: #b3b3b3;
    text-align: center;
    line-height: 12px;
    text-transform: uppercase;
}
#site-generator {
    float: right;
    width: 220px;
}
/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
    background: #fff;
}
body, input, textarea {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
}
hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}
/* Text elements */
p {
    margin-bottom: 18px;
}
ul {
    list-style: square;
    margin: 0 0 18px 1.5em;
}
ol {
    list-style: decimal;
    margin: 0 0 18px 1.5em;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}
dl {
    margin: 0 0 24px 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 18px;
}
strong {
    font-weight: bold;
}
cite, em, i {
    font-style: italic;
}
big {
    font-size: 131.25%;
}
ins {
    background: #ffc;
    text-decoration: none;
}
blockquote {
    font-style: italic;
    padding: 0 3em;
}
blockquote cite, blockquote em, blockquote i {
    font-style: normal;
}
pre {
    background: #f7f7f7;
    color: #222;
    line-height: 18px;
    margin-bottom: 18px;
    padding: 1.5em;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
sup, sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
input[type="text"], textarea {
    background: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 2px;
}
a:link {
    color: #585858;
    text-decoration: none;
}
a:visited {
    color: #585858;
    text-decoration: none;
}
a:active, a:hover {
    color: #000000;
}
/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    left: -9000px;
}
/* =Header
-------------------------------------------------------------- */

#header {
    padding-bottom: 24px;
    margin-top: 42px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
#account {
    float: right;
    text-align: right;
    height: 48px;
    width: 757px;
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    color: #b3b3b3;
    text-transform: uppercase;
    line-height: 11px;
}
#account a {
    color: #b3b3b3;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 11px;
}
#account a:hover {
    color: #000000;
}
#logo {
    height: 94px;
    width:171px;
    float: left;
}
/* =Menu
-------------------------------------------------------------- */

#access {
    width: 795px;
    display: block;
    float: right;
    margin: 0 auto;
}
#access .menu-header, div.menu {
    font-size: 13px;
    margin-left: 12px;
    width: 928px;
}
#access .menu-header ul, div.menu ul {
    list-style: none;
    margin: 0;
}
#access .menu-header li, div.menu li {
    float: left;
    position: relative;
}
#access a {
    color: #aaa;
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}
#access ul ul {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    width: 180px;
    z-index: 9999;
}
#access ul ul li {
    min-width: 180px;
}
#access ul ul ul {
    left: 100%;
    top: 0;
}
#access ul ul a {
    background: #333;
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}
#access li:hover > a, #access ul ul :hover > a {
    background: #333;
    color: #fff;
}
#access ul li:hover > ul {
    display: block;
}
#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a {
    color: #fff;
}
* html #access ul li.current_page_item a, * html #access ul li.current-menu-ancestor a, * html #access ul li.current-menu-item a, * html #access ul li.current-menu-parent a, * html #access ul li a:hover {
    color: #fff;
}
/* =Content
-------------------------------------------------------------- */

#main {
    clear: both;
    overflow: hidden;
    padding: 0px;
    width: 940px;
    margin: auto;
}
#content {
    margin-bottom: 36px;
    float: right;
    width: 673px;
}
#content, #content input, #content textarea {
    color: #333;
    font-size: 13px;
    line-height: 20px;
}
#content p, #content ul, #content ol, #content dd, #content pre, #content hr {
    margin-bottom: 15px;
}
#content ul ul, #content ol ol, #content ul ol, #content ol ul {
    margin-bottom: 0;
}
#content pre, #content kbd, #content tt, #content var {
    font-size: 15px;
    line-height: 21px;
}
#content code {
    font-size: 13px;
}
#content dt, #content th {
    color: #000;
}
/*#content h1 {
	color: #fff;
	height: 46px;
	width: 304px;
	padding-left: 6px;
	line-height: 46px;
	background: #000;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}*/
#content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #000;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}
#content tr th, #content thead th {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    background: #F69B33 url(images/th-bg.gif);
    border-left: 1px solid #ccc;
}
#content td.prices {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left:12px;
    padding-right:12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    text-align: right;
    width: 60px;
}
#content td.total {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left:12px;
    padding-right:12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    text-align: right;
    width: 100px;
}
#content td.offer {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left:12px;
    padding-right:12px;
    font-size: 12px;
    text-align: left;
}
.oldtotal {
    font-size: 12px;
}
#content td.button {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left:12px;
    padding-right:12px;
    text-align: center;
    padding-top: 4px;
    width: 100px;
}
#content td.logo {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left:12px;
    padding-right:12px;
    text-align: left;
    padding-top: 4px;
    width: 160px;
}
#content tr.odd td {
    background: #f2f7fc;
}
.hentry {
    margin: 0 0 48px 0;
}
.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid #000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}
.single .hentry {
    margin: 0 0 36px 0;
}
.page-title {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 36px 0;
}
.page-title span {
    color: #333;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
.page-title a:link, .page-title a:visited {
    color: #b3b3b3;
    text-decoration: none;
}
.page-title a:active, .page-title a:hover {
    color: #000000;
}
#content .entry-title {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    line-height: 33px;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
}
.entry-title h1 {
    color: pink;
}
.entry-title a:link, .entry-title a:visited {
    color: #000;
    text-decoration: none;
}
.entry-title a:active, .entry-title a:hover {
    color: #000000;
}
.entry-meta {
    text-align: center;
    margin: auto;
    width: 180px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #b3b3b3;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
}
.entry-meta abbr, .entry-utility abbr {
    border: none;
}
.entry-meta abbr:hover, .entry-utility abbr:hover {
    border-bottom: 1px dotted #666;
}
.entry-content, .entry-summary {
    clear: both;
    padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
    margin-bottom: 12px;
}
.entry-content fieldset {
    border: 1px solid #e7e7e7;
    margin: 0 0 24px 0;
    padding: 24px;
}
.entry-content fieldset legend {
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 0 24px;
}
.entry-content input {
    margin: 0 0 24px 0;
}
.entry-content input.file, .entry-content input.button {
    margin-right: 24px;
}
.entry-content label {
    color: #b3b3b3;
    font-size: 12px;
}
.entry-content select {
    margin: 0 0 24px 0;
}
.entry-content sup, .entry-content sub {
    font-size: 10px;
}
.entry-content blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    text-align: right;
    width: 33%;
}
.entry-content blockquote.right {
    float: right;
    margin-left: 24px;
    margin-right: 0;
    text-align: left;
    width: 33%;
}
.page-link {
    color: #000;
    font-weight: bold;
    margin: 0 0 22px 0;
    word-spacing: 0.5em;
}
.page-link a:link, .page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}
.home .sticky .page-link a {
    background: #d9e8f7;
}
.page-link a:active, .page-link a:hover {
    color: #000000;
}
body.page .edit-link {
    clear: both;
    display: block;
}
#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid #000;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;
}
#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    height: 60px;
    margin: 0 -104px 0 0;
    padding: 11px;
}
#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}
#entry-author-info h2 {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}
.entry-utility {
    clear: both;
    color: #b3b3b3;
    font-size: 13px;
    line-height: 18px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
.entry-utility a {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
.entry-utility .normal {
    font-style: normal;
}
.entry-meta a, .entry-utility a {
    color: #b3b3b3;
}
.entry-meta a:hover, .entry-utility a:hover {
    color: #000000;
}
#content .video-player {
    padding: 0;
}
/* =Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}
.home .hentry.category-asides {
    padding: 0;
}
.home #content .category-asides .entry-content {
    padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}
.category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
    padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */

#content img {
    margin: 0;
    height: auto;
    max-width: 699px;
    width: auto;
}
#content .attachment img {
    max-width: 900px;
}
#content .alignleft, #content img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
#content .alignright, #content img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
#content .aligncenter, #content img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#content img.alignleft, #content img.alignright, #content img.aligncenter {
    margin-bottom: 12px;
}
#content .wp-caption {
    background: #f1f1f1;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
}
#content .wp-caption img {
    margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
    color: #b3b3b3;
    font-size: 12px;
    margin: 5px;
}
#content .wp-smiley {
    margin: 0;
}
#content .gallery {
    margin: 0 auto 18px;
}
#content .gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}
#content .gallery img {
    border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
    color: #b3b3b3;
    font-size: 12px;
    margin: 0 0 12px;
}
#content .gallery dl {
    margin: 0;
}
#content .gallery img {
    border: 10px solid #f1f1f1;
}
#content .gallery br+br {
    display: none;
}
#content .attachment img { /* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}
.navigation a:link, .navigation a:visited {
    color: #b3b3b3;
    text-decoration: none;
}
.navigation a:active, .navigation a:hover {
    color: #000000;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
#nav-above {
    margin: 0 0 18px 0;
}
#nav-above {
    display: none;
}
.paged #nav-above, .single #nav-above {
    display: block;
}
#nav-below {
    margin: -18px 0 0 0;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
    clear: both;
}
#comments .navigation {
    padding: 0 0 18px 0;
}
h3#comments-title, h3#reply-title {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
}
h3#comments-title {
    padding: 4px 0;
}
.commentlist {
    list-style: none;
    margin: 0;
}
.commentlist li.comment {
    border-bottom: 1px solid #e7e7e7;
    line-height: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 0 0px;
    position: relative;
}
.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#comments .comment-body ul, #comments .comment-body ol {
    margin-bottom: 18px;
}
#comments .comment-body p:last-child {
    margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}
.commentlist ol {
    list-style: decimal;
}
.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}
.comment-author {
}
.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.comment-author .says {
    font-style: italic;
}
.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}
.comment-meta a:link, .comment-meta a:visited {
    color: #b3b3b3;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}
.comment-meta a:active, .comment-meta a:hover {
    color: #000000;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}
.reply a, a.comment-edit-link {
    color: #b3b3b3;
}
.reply a:hover, a.comment-edit-link:hover {
    color: #000000;
}
.commentlist .children {
    list-style: none;
    margin: 0;
}
.commentlist .children li {
    border: none;
    margin: 0;
}
.nopassword, .nocomments {
    display: none;
}
#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
    margin-top: -6px;
}
#comments .pingback p {
    color: #b3b3b3;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
#comments .pingback .url {
    font-size: 13px;
    font-style: italic;
}
/* Comments form */
input[type=submit] {
    color: #333;
}
#respond {
    overflow: hidden;
    position: relative;
}
#respond p {
    margin: 0;
}
#respond .comment-notes {
    margin-bottom: 1em;
}
.form-allowed-tags {
    line-height: 1em;
}
.children #respond {
    margin: 0 48px 0 0;
}
h3#reply-title {
    margin: 18px 0;
}
#comments-list #respond {
    margin: 0 0 18px 0;
}
#comments-list ul #respond {
    margin: 0;
}
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
#respond .required {
    color: #000000;
    font-weight: bold;
}
#respond label {
    color: #b3b3b3;
    font-size: 12px;
}
#respond input {
    margin: 0 0 9px;
    width: 98%;
}
#respond textarea {
    width: 98%;
}
#respond .form-allowed-tags {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    display: none;
}
#respond .form-allowed-tags code {
    font-size: 11px;
}
#respond .form-submit {
    margin: 12px 0;
}
#respond .form-submit input {
    font-size: 14px;
    width: auto;
}
/* =Widget Areas
-------------------------------------------------------------- */
.widget-area-sidebar ul {
    list-style: none;
    margin-left: 0;
}
.widget-area-sidebar ul ul {
    margin-left: 8px;
}
#widget-area-sidebar a:link, #widget-area-sidebar a:active, #widget-area-sidebar a:visited {
    padding-left: 8px;
    line-height: 17px;
    font-size: 12px;
    color: #b3b3b3;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
#widget-area-sidebar a:hover {
    color: #000;
}
.widget-area-sidebar .entry-meta {
    font-size: 11px;
}
.widget-area ul {
    list-style: none;
    margin-left: 0;
}
.widget-area ul ul {
}
.widget_search #s {/* This keeps the search inputs in line */
    width: 60%;
}
.widget_search label {
    display: none;
}
.widget-container {
    margin: 0 0 18px 0;
}
.widget-area-sidebar a:link, .widget-area-sidebar a:active, .widget-area-sidebar a:visited {
    line-height: 12px;
    font-size: 12px;
    color: #b3b3b3;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
.widget-area-sidebar a:hover {
    color: #000;
}
.widget-title {
    background: #f1f1f1;
    height: 27px;
    line-height: 27px;
    padding-left: 7px;
    color: #000;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-transform: uppercase;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #e7e7e7;
    border-left-color: #e7e7e7;
}
.widget-area-sidebar h3 {
    background: #f1f1f1;
    height: 27px;
    line-height: 27px;
    padding-left: 7px;
    color: #000;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-transform: uppercase;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #e7e7e7;
    border-right-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
    border-left-color: #e7e7e7;
}
#widget-area a:link, #widget-area a:active, #widget-area a:visited {
    padding-left: 8px;
    line-height: 17px;
    font-size: 12px;
    color: #b3b3b3;
    text-transform: none;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
#widget-area a:hover {
    color: #000;
}
.widget-area .entry-meta {
    font-size: 11px;
}
.widget-area hr {
    border-top: dotted 1px #ccc;
    width: 200px;
    background: #000;
    margin: 7px 0 7px -13px;
    display: block;
}
#wp_tag_cloud div {
    line-height: 1.6em;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}
#wp-calendar thead {
    font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    padding: 3px 0 2px;
    text-align: center;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    text-align: right;
}
.widget_rss a.rsswidget {
    color: #000;
}
.widget_rss a.rsswidget:hover {
    color: #000000;
}
.widget_rss .widget-title img {
    width: 11px;
    height: 11px;
}
/* Main sidebars */
#main .widget-area ul {
    margin-left: 0;
    padding: 0 20px 0 0;
}
#main .widget-area ul ul {
    border: none;
    margin-left: 1.3em;
    padding: 0;
}
#primary {
}
#secondary {
}
/* Footer widget areas */
#footer-widget-area {
}
/* =Footer
-------------------------------------------------------------- */


#colophon {
}
#site-info a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 11px;
}
#site-generator {
    font-style: italic;
    position: relative;
}
#site-generator a {
    background: url(images/wordpress.png) center left no-repeat;
    color: #b3b3b3;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}
#site-generator a:hover {
    color: #000;
}
img#wpstats {
    display: block;
    margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
    -webkit-text-size-adjust: 140%;
}
code {
    -webkit-text-size-adjust: 160%;
}
#access, .entry-meta, .entry-utility, .navigation, .widget-area {
    -webkit-text-size-adjust: 120%;
}
#site-description {
    -webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
    body {
        background: none !important;
    }
    #wrapper {
        clear: both !important;
        display: block !important;
        float: none !important;
        position: relative !important;
    }
    #colophon {
        border-top: 2pt solid #000;
    }
    #site-title,  #site-description {
        float: none;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }
    #site-title {
        font-size: 13pt;
    }
    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }
    .entry-title {
        font-size: 14pt;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        color: #000000;
    }
    #access,  #branding img,  #respond,  .comment-edit-link,  .edit-link,  .navigation,  .page-link,  .widget-area {
        display: none !important;
    }
    #container,  #content,  .one-column #content {
        margin: 24pt 0 0;
        width: 100%;
    }
    .wp-caption p {
        font-size: 11pt;
    }
    #site-info,  #site-generator {
        float: none;
        width: auto;
        color: #b3b3b3;
        font-family: "Times New Roman", Times, serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
    }
    #colophon {
        width: auto;
    }
    img#wpstats {
        display: none;
    }
    #site-generator a {
        margin: 0;
        padding: 0;
    }
    #entry-author-info {
        border: 1px solid #e7e7e7;
    }
    #main {
        display: inline;
    }
    .home .sticky {
        border: none;
    }
}
#cat-grid {
    color:#000000;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
    float: left;
    width: 180px;
    height: 364px;
    margin-top: 40px;
    margin-right: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#cat-grid .price_class {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    line-height: 12px;
    font-style: italic;
    font-variant: normal;
    padding-top: 2px;
}
#cat-grid a {
    color:#000000;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
}
#cat-grid-smaller {
    float: left;
    width: 180px;
    height: 290px;
    margin: 0 10px 0 10px;
}
#cat-grid-pic {
    width: 172px;
    height: 235px;
    background: #CCC;
}
#taxonomy-info {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 18px;
    font-weight: normal;
    color: #FFF;
    clear: both;
}
#brand-info h1 {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #333;
}
#taxonomy-image {
    float: left;
    width: 300px;
}
#taxonomy-description {
    float: right;
    width: 436px;
}
#clear {
    clear: both;
}
#socialppp {
    width: 300px;
    height: 32px;
    line-height: 32px;
    float: left;
    padding-top: 8px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}
#ppp {
    height: 22px;
    line-height: 22px;
    float: right;
    padding-right: 0px;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f1f1f1;
    padding-bottom: 5px;
    padding-left: 0px;
    font-size: 12px;
    font-style: italic;
}
#breadcrumb {
    clear: both;
    line-height: 33px;
    color: #424242;
    font-style: italic;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    text-transform: capitalize;
}
#breadcrumb a {
    color: #424242;
    font-style: italic;
}
#breadcrumb a:hover {
    color: #000000;
}
#padding10 {
}
#subcat-thumb {
    float: left;
    background: #838280;
    height: 237px;
    width: 178px;
    padding: 2px 0 0 2px;
    margin-right: 10px;
    margin-bottom: 20px;
}
#subcat-name {
    float: left;
    height: 154px;
    width: 216px;
    margin: 0 10px 20px 0;
}
.product-detail {
    border: 12px solid #E2E3E5;
}
#product-image {
    height: 456px;
    width: 390px;
    float: left;
    margin-top: 22px;
}
#product-image #wrap {
    z-index:0 !important;
}
#product-details {
    margin-top: 22px;
    width: 294px;
    float: right;
}
#product-details-box {
    border: 1px solid #d9d9d9;
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
}
#product-details-box2 {
    border: 1px solid #d9d9d9;
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 26px;
}
#product-details-box3 {
    border: 1px solid #d9d9d9;
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    height:85px;
}
#retailer-review {
    width: 635px;
    float: left;
    margin-bottom: 15px;
    color: #000000;
}
#retailer-review a {

    font-family: Arial, Helvetica, sans-serif;
}
#retailer-banner {
    width: 635px;
    height: 133px;
    border: 2px #D8D8D8 solid;
    margin-bottom: 25px;
}
#retailer-banner img {
    width: 635px;
    height: 133px;
}
/*#content h1 {
	color: #fff;
	height: 46px;
	width: 304px;
	padding-left: 6px;
	line-height: 46px;
	background: #000;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}*/


#retailer-review h4, #retailer-review h5, #retailer-review h6 {
    color: #000;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}
#retailer-review h2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
#retailer-review-top h1 {
    color: #fff;
    height: 26px;
    padding-left: 10px;
    line-height: 26px;
    background: #000;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
#retailer-review hr {
    border-top: dashed #ccc 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
}
#retailer-review p {
    margin-bottom: 18px;
}
#user-review {
    width: 221px;
    float: right;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    padding: 10px 10px 5px 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}
#style-guide {
    width: 100%;
    float: left;
    color: #000;
}
#style-guide a {
    font-family: Arial, Helvetica, sans-serif;
}
/* TOP NAV */

ul#topnav {
    padding: 0;
    margin-top: 0px;
    float:right;
    width: 757px;
    list-style: none;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    z-index: 10000;
    position: relative;
}
ul#topnav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
ul#topnav li a {
    float: left;
    /*text-indent: -9999px;*/
    height: 31px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    color: black;
    background: #fff;
}
ul#topnav li:hover a, ul#topnav li a:hover {
    background-position: left bottom;
    color: #b3b3b3;
    background: #fff;
    font-style: italic;
}
ul#topnav a.designer {
    width: 126px;
    text-align: left;
}
ul#topnav a.category {
    width: 171px;
}
ul#topnav a.styleguides {
    width: 117px;
}
ul#topnav a.directory {
    width: 113px;
}
ul#topnav a.reviews {
    width: 84px;
}
ul#topnav a.blogs {
    width: 61px;
}
ul#topnav a.contact {
    width: 85px;
    text-align: right;
}
ul#topnav li .sub {
    position: absolute;
    top: 25px;
    left: 0;
    background: #fff;
    padding: 10px 0px 15px 0;
    float: left;
    margin-left: -1px;
    display: none;
    z-index: 10000;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
#lat_sub_menu {
    width:536px!important;
    margin-left:-306px!important;
}
#lat_sub_menu_brand {
    width:636px!important;
    margin-left:-15px!important;
}
#lat_sub_menu_cat {
    margin-left:-141px!important;
}
ul#topnav li .row {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
ul#topnav li .sub ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 159px;
    float: left;
}
ul#topnav .sub ul li {
    width: 100%;
    color: #fff;
}
ul#topnav .sub ul li h2 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}
ul#topnav .sub ul li h2 a {
    padding: 5px 0;
    background-image: none;
    color: #e8e000;
}
ul#topnav .sub ul li a {
    float: none;
    text-indent: 0; /*--Reset text indent--*/
    height: auto;
    background: url(navlist_arrow.png) no-repeat 5px 12px;
    padding: 0px 0px 0px 15px;
    display: block;
    text-decoration: none;
    color: #b3b3b3;
    text-align: left;
    line-height: 15px;
    font-style: normal;
}
ul#topnav .sub ul li a:hover {
    color: #000000;
    background-position: 5px 12px;
}
/* end */

#search-header {
    height: 94px;
    border: 1px solid #FF0000;
}
#search-header-inner {
    height: 58px;
    width: 940px;
    line-height: 58px;
    margin: 0 auto;
    font-size: 10px;
    color: #ccc;
}
#search-bar {
    float: right;
    width: 757px;
    text-align: right;
    z-index:1001;
    height: 26px;
    background-color: #000000;
}
#footer-links {
    clear: both;
    width: 940px;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    color: #b3b3b3;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    line-height: 12px;
}
#footer-links a:link, #footer-links a:visited {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 11px;
}
#footer-links a:active, #footer-links a:hover {
    text-decoration: none;
    color: #000000;
}
#footer-links-social {
    width: 370px;
    border-top: 1px solid #141414;
    padding: 0;
    float: left;
    height: 60px;
}
#footer-links-twitter {
    float: left;
    width: 180px;
    padding-top: 10px;
}
#footer-links-social2 {
    float: left;
    width: 180px;
    margin-top: 15px;
}
#LoginWithAjax {
    z-index: 11;
    background: #fff;
}
#dcg-border {
    width: 940px;
    margin-bottom: 35px;
    margin-top: 32px;
}
#dcg-border img {
    border: 1px solid #f2f2f2;
}
.product-title {
    color: #000;
    font-size: 18px;
    margin: 0 0 25px -10px;
    padding-left: 6px;
    line-height: 44px;
    text-transform: uppercase;
}
.product-title2 {
    color: #fff;
    height: 26px;
    padding-left: 6px;
    line-height: 26px;
    background: #000;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
.category-title {
    color: #fff;
    line-height: 18px;
    background: #000;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0px;
    padding: 4px;
}
#search-filter h3 {
    background: #f1f1f1;
    height: 25px;
    line-height: 25px;
    padding-left: 7px;
    color: #000;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 7px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #e7e7e7;
    border-right-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
    border-left-color: #e7e7e7;
}
#search-filter a:link, #search-filter a:active, #search-filter a:visited {
    padding-left: 0px;
    line-height:16px;
    font-size: 12px;
    color: #424242;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
#search-filter a:hover {
    color: #000;
}
#selected-filters-black {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    display: none;
}
#selected-filters-black h1 {
    font-size: 18px;
}
#selected-filters {
    background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #DDDDDD;
    color: #000000;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 7px;
    padding-left: 7px;
    display: none;
}
.title_brand {
    margin-bottom:10px;
    font-size:16px;
    font-weight:bold;
}
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    border: 1px solid #888;
    margin:-1px;	/* Set this to minus the border thickness. */
    background-color:#fff;
    cursor:move;
}
/* This is for the title text. */
.cloud-zoom-title {
    font-family:Arial, Helvetica, sans-serif;
    position:absolute !important;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:10px;
    top:0px;
}
/* This is the zoom window. */
.cloud-zoom-big {
    border:1px solid #d9d9d9;
    overflow:hidden;
}
/* This is the loading message. */
.cloud-zoom-loading {
    color:white;
    background:#222;
    padding:3px;
    border:1px solid #000;
}
/* Brand Pages */
#brand {
    height: 920px;
}
#betterrelated {
    width: 192px;
    padding-left: 8px;
    background-color: #FFF;
    padding-bottom: 6px;
    margin-top: 10px;
    float: left;
}
#betterrelated p {
    margin:0px;
    padding-bottom:6px;
}
#betterrelated a:link, #betterrelated a:active, #betterrelated a:visited {
    font-size: 12px;
    line-height: 17px;
    color: #b3b3b3;
    text-decoration: none;
    text-transform: uppercase;
}
#betterrelated a:hover {
    color: #000;
}
#catspanel {
    width: 192px;
    padding-left: 8px;
    background-color: #000;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    opacity: 0.85;
    padding-bottom: 6px;
    margin-top: 10px;
    float: left;
}
#catspanel p {
    margin:0px;
    padding-bottom:6px;
}
#catspanel h3 {
    margin-left: -8px;
    background: #333;
    height: 25px;
    border: 1px solid #c3c3c3;
    line-height: 25px;
    padding-left: 7px;
    color: #FFF;
    font-size: 12px;
    margin-bottom: 7px;
    text-transform: uppercase;
}
#catspanel a:link, #catspanel a:active, #catspanel a:visited {
    font-size: 12px;
    line-height: 17px;
    color: #F5F5F5;
    text-decoration: none;
    text-transform: uppercase;
}
#catspanel a:hover {
    color: #F5F5F5;
    text-decoration: underline;
}
#popularpanel {
    width: 192px;
    padding-left: 8px;
    background-color: #FFF;
    padding-bottom: 12px;
    margin-top: 4px;
    float: left;
}
#popularpanel p {
    margin:0px;
    padding-bottom:8px;
}
#popularpanel a:link, #popularpanel a:active, #popularpanel a:visited {
    font-size: 12px;
    line-height: 17px;
    color: #b3b3b3;
    text-decoration: none;
    text-transform: uppercase;
}
#popularpanel a:hover {
    color: #000;
}
#brand-details-box h1 {
    color: #FFF;
    padding: 7px 0 15px 0;
    text-transform: uppercase;
}
#brand-details-box a:hover {
    color: #F5F5F5;
    text-decoration: underline;

}
#brand-details-box a {
    font-family: Arial, Helvetica, sans-serif;

}
#filter-selected {
    background-color: #FBFBFB;
    padding: 2px 7px 1px 7px;
    margin-bottom: -16px;
    margin-top: 1px;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
}
#filter-selected a:link {
    text-transform: lowercase;
    line-height: 16px;
    color: #000;
}
#filter-remove {
    float: right;
    text-align: right;
}
#filter-unavailable {
    background-color: #FFF;
    padding-left:7px;
    margin-bottom: -16px;
    margin-top: 2px;
    color: #ccc;
}
#brand-box {
    width: 673px;
    height: 210px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #B5B5B5;
    border-bottom: 1px solid #B5B5B5;
    padding: 4px;
    background: #f8f8f8;
    overflow:hidden;
}
#brand-banner {
    width: 673px;
    height: 210px;
}
#brand-banner-top {
    width: 673px;
    height: 120px;
}
#brand-banner-bottom {
    width: 760px;
    height: 85px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background: url('http://devmilanstyle.futureis-3.titaninternet.co.uk/wp-content/themes/milanstyle/images/transbg.png');
    color: #FFF;
}
#brand-info {
    width: 690px;
    height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 7px;
    padding-right: 7px;
    color: #666;
}
#home-posts {
    width: 400px;
    float: left;
    margin-right: 20px;
}
#home-post {
    width: 380px;
}
#home-post-thumb {
    width: 115px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}
#home-post-title {
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#home-post-excerpt {
    width: 525px;
    float: left;
    margin-bottom: 20px;
    color: #333;
}
#home-copy {
    width: 320px;
    float: right;
    color: #333
}
#home-copy ol {
    padding-left:5px;
}
#home-copy li {
    padding-bottom:5px;
}
#home-content h3, #home-content h4, #home-content h5, #home-content h6 {
    color: #000;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}
#home-content h2 {
    color: #000000;
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #f1f1f1;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
#home-products {
    float: left;
    width: 660px;
}
#home-product-grid {
    width: 317px;
    float: left;
    margin-right: 20px;
    padding-left: 5px;
    margin-bottom: 20px;
}
#home-product-grid-end {
    width: 317px;
    float: left;
    margin-bottom: 20px;
}
#home-grid-pic {
    width: 172px;
    height: 202px;
    background: #CCC;
    margin-right: 10px;
    float: left;
}
#home-grid-text {
    width: 135px;
    height: 202px;
    float: left;
}
#home-products-title {
    padding-bottom: 8px;
}
#home-products-title a:link {
    font-size: 14px;
    text-transform: uppercase;
}
#product-details-box2 table {
    padding-left: 5px;
    font-size: 13px;
    line-height: 22px;
    border: none;
}
.blog-root {
    width: 100%;
}
table.designer_az {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-bottom: 1px #CCC dashed;
}
td.letter {
    font-size: 18px;
    color: #666;
    border-top: 1px #CCC dashed;
    padding: 10px 0 10px 0;
}
td.td_brandlink {
    height: 27px;
    padding-bottom: 5px;
}
.AddToWishlistButton {
    background: white;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #000;
    font-style: italic;
    line-height: 12px;
    text-transform: lowercase;
}
.AddToWishlistButton:hover {
    color: #000;
}
.seemoredetails {
    font-size: 9px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 9px;
}
.seemoredetails:link {
    font-size: 9px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 9px;
}
.seemoredetails:visited {
    font-size: 9px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 9px;
}
.seemoredetails:hover {
    font-size: 9px;
    color: black;
    color: #000;
    line-height: 9px;
}
.buynow:link {
    height: 30px;
    width: 40px;
    background: #000;
    padding: 9px;
    color: #fff;
    text-decoration: none;
}
.buynow:visited {
    height: 30px;
    width: 70px;
    background: #000;
    padding: 9px;
    color: #fff;
    text-decoration: none;
}
.buynow:active {
    height: 30px;
    width: 70px;
    background: #000;
    padding: 9px;
    color: #fff;
    text-decoration: none;
}
.buynow:hover {
    height: 30px;
    width: 70px;
    background: #000;
    padding: 9px;
    color: #fff;
}
#albox {
    padding-top: 7px;
    width: 100%;
    height: 60px;
}
#alboxright {
    margin-top: -11px;
    width: 90px;
    float: right;
}
#catprice {
    font-weight: bold;
    line-height: 40px;
    color: #000;
}
.single-left {
    border: 1px solid #ececec;
    margin-bottom: 40px;
}
#single-right {
    padding-top: 60px;
    width: 221px;
    float: left;
    text-align: left;
    border: 1px solid #33CC33;
}
.box_select {
    background-color:#000000;
}
.buy_now {
    background-color: #f1f1f1;
    color: #000;
    float: right;
    margin-top: 10px;
    text-align: center;
    width: 44px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #e7e7e7;
    border-left-color: #e7e7e7;
    text-transform: capitalize;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 26px;
    height: 26px;
}
.buy_now a {
    color: #000000 !important;
}
.see_more_details {
    float: left;
    font-size: 12px;
    width: 133px;
    margin-top: 10px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    font-family: "Times New Roman", Times, serif;
    text-transform: lowercase;
    color: #000;
    line-height: 12px;
}
.see_more_details a {
    color:#000000 !important;
}
.see_more_details a:hover {
    text-decoration:none;
}
.price_class {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
}
#ppp select {
    width:45px;
    height:20px;
    margin: 0 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #b3b3b3;
}
#ppp input {
    border: 0 none;
    color: #000000;
    cursor: pointer;
    font-size: 11px;
    height: 20px;
}
.title_products {
    height: 25px;
    overflow:hidden;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    margin-top: 40px;
}
.paginate_namber {
    float:left;
}
.namber_page {
    float:right;
}
.order_type {
    float:right;
    margin:0 10px;
}
.order_type select {
    width:135px !important;
}
.see_more_details input {
    font-size:12px!important;
    color:#000000 !important;
    line-height: 12px;
    text-align: left;
    margin-left: -3px;
    padding-left: 0px;
}
.select_box {
    clear:both;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f1f1f1;
    color: #b3b3b3;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    padding-top: 10px;
}
/* CSS popup */
#fade { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9999;
}
.popup_block {
    display: none; /*--hidden by default--*/
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 99999;
    /*--CSS3 Box Shadows--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
img.btn_close {
    float: right;
    margin: -55px -55px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}
#twitter {
    height: 30px;
}
#clearboth {
    clear: both;
}
#quick_search_wrapper {
    width: 210px;
    float: right;

    margin-right: 5px;
}
#quick_search_left {
    float: left;

    line-height: 12px;
    margin-top: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;

}
#quick_search_left input {

    line-height: 12px;
    height: 12px;
    border: 0;
    border-color: transparent;


}
#quick_search_button {
    margin-top: 5px;
    float: right;
    width: 19px;
    display: block;
}
.textwidget a:link {
    color: #b3b3b3;
    display: block;
}
.textwidget a:visited {
    color: #b3b3b3;
    display: block;
}
.textwidget a:hover {
    color: black;
    text-decoration: none;
    display: block;
}
#footer-address {
    clear: both;
    color:#b3b3b3;
    font-size: 11px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    line-height: 12px;
    text-align: center;
}
#int {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #b3b3b3;
    font-style: italic;
    line-height: 29px;
    text-align: center;
    height: 29px;
    border: 1px solid #f2f2f2;
    clear: both;
    margin: auto;
    width: 940px;
}
#int:hover {
    color: #000;
}
/* make the form container relative for positioning */

body .gform_wrapper_newsletter {
    position: relative;
}
/* resize and position the form footer with the button */

body .gform_wrapper_newsletter .gform_footer {
    width: 60px;
    position: absolute;
    top: 28px;
    left: 165px;
    padding: 0;
    margin: 0;
}
#blog-image {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    text-align: center;
}
#blog-image2 {
    padding: 0;
    padding-bottom: 15px;
}
#h1socialleft {
    width: 410px;
    float: left;
}
#h1socialright {
    width: 320px;
    float: left;
    text-align: right;
}
#product-price {
    font-size: 16px;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #000000;
}
#exit {
    padding-top: 150px;
    width: 600px;
    text-align: left;
    font-weight: bold;
}
#sitemap-left {
    width: 300px;
    float: left;
}
#sitemap-right {
    width: 300px;
    float: right;
}
#style-left {
    float: left;
    width: 650px;
}
#style-right {
    float: right;
    width: 229px;
    padding-right: 15px;
}
.style-guide-image {
    border: 1px solid #CCC;
    padding: 5px;
    margin-bottom: 0;
}
#style-guide-banner {
    padding-bottom: 25px;
}
#style-guide-banner img{
    witdh:940px !important;
}
.buybutton a {
    float: left;
    display:block;
    width:120px;
    height: 85px;
    background: #666;
    text-align: center;
    line-height: 85px;
    font-size: 30px;
    font-weight: normal;
    color: #FFF;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}
.buybutton a:hover {
    background: #000;
    text-decoration: none;
}
#addtowishlist {
    float:right;
}
#paddingleft8 {
    padding-left: 8px;
}
#paddingleft8 a:link, #paddingleft8 a:active, #paddingleft8 a:visited {
    margin-left: -8px;
    line-height: 16px;
    font-size: 12px;
    color: #b3b3b3;
    text-transform: uppercase;
}
#paddingleft8 a:hover {
}
#tenpx {
    clear: both;
    display: block;
    height: 8px;
}
#footer_inner_wrap {
    width: 100%;
}
#ruler {
    border-bottom: 1px dotted #fff;
    margin-left: -15px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 200px;
}
#blogpagination {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 12px;
    text-align: right;
}
#header-right {
    float: right;
    width: 757px;
    z-index: auto;
}
.cls {
    clear:both
}
#blog-side {
    float: left;
    width: 221px;
}
#products-side {
    float: left;
    width: 253px;
}
.entry-header {
    text-align: center;
    background-color: #f2f2f2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}
.entry-body {
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f2f2f2;
    margin-top: 10px;
    font-size: 12px;
    color: #000000;
    margin-right: 45px;
    margin-left: 45px;
}
.entry-body a{
    font-family: Arial, Helvetica, sans-serif;
}
.social {
    margin-top: 23px;
}
a.more-link {
    clear: both;
    text-align: right;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #b3b3b3;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
a.more-link:hover {
    color: #000000;
}
.sidehome {
    float: right;
    width: 302px;
}
.sidehome1 {
    float: left;
    width: 638px;
}
.sidehome .hbox {
    margin-right: 0px;
    display: block;
    float: none;
}
.hbox {
    margin-right: 17px;
    height: 300px;
    width: 300px;
    float: left;
    margin-bottom: 18px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}
.sidehome .hboxad {
    margin-right: 0px;
    display: block;
    float: none;
}
.hboxad {
    margin-right: 17px;
    height: 300px;
    width: 300px;
    float: left;
    margin-bottom: 18px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}
#wrapper #header #header-right #account #topnav {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 126px;
    clear: none;
    float: none;
    height: 11px;
}
#wrapper #header #header-right #account #topnav2 {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 126px;
    clear: none;
    float: none;
    height: 11px;
}
#wrapper #header #header-right #account ul#topnav a.language {
    width: 126px;
    text-align: left;
    line-height: 11px;
    height: 11px;
    font-size: 11px;
    color: #b3b3b3;
    float: none;
    clear: none;
}
#wrapper #header #header-right #account ul#topnav2 a.language {
    width: 126px;
    text-align: left;
    line-height: 11px;
    height: 11px;
    font-size: 11px;
    color: #b3b3b3;
    float: none;
    clear: none;
}
#wrapper #header #header-right #account #topnav ul a {
    text-transform: none;
}
#wrapper #header #header-right #account .toplink {
    display: inline;
    margin: 0px;
    padding: 0px;
    clear: none;
    float: right;
}
#wrapper #header #header-right #account .toplink li {
    display: inline;
    margin: 0px;
    padding: 0px;
    clear: none;
    list-style-type: none;
}
.f1 {
}
#blog-side #primary ul li a {
    line-height: 16px;
    margin: 0px;
    padding: 0px;
}
.formstyle {
    margin: auto;
    width: 179px;
    padding-top: 1px;
}
.imagebox {
    height: 223px;
    width: 300px;
    background-color: #ECECEC;
    margin: auto;
    position: relative;
}
.featuredarea {
    background-image: url(images/white-bar.gif);
    background-repeat: no-repeat;
    background-position: center 7px;
    text-align: right;
}
.featuredarea h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
    color: #000;
    text-transform: uppercase;
    line-height: 12px;
    margin: 0px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    text-align: center;
}
.featuredarea a {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
    color: #000;
    padding-right: 8px;
    text-align: right;
}
.adv {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 50px;
    color: #b3b3b3;
    text-align: center;
    width: 100%;
    clear: both;
}
.none {
    display: none;
}
.hboxad {
    margin-right: 18px;
    height: 300px;
    width: 300px;
    margin-bottom: 18px;
    border: 1px solid #f2f2f2;
}

/* demo styles */



#home-slider {
    width:940px;
    height:360px;
    padding: 0px;
    margin-right: 0px;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 0px;
    position: relative;
    z-index: 20;
}
#footer-widget-area ul li a {
    line-height: 14px;
    display: block;
}
#main #container #blog-side #primary .tweets li {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
    font-size: 12px;
    font-style: italic;
    color: #b3b3b3;
    line-height: 16px;
}
#main #container #blog-side #primary .tweets .timesince {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
    color: #b3b3b3;
    line-height: 16px;
    clear: both;
    display: block;
}
#home-slider #vslider_optionscontainer #vslider_options h4 {
    font-style: normal;
    font-size: 23px;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    text-align: justify;
    margin-bottom: 5px;
}
#home-slider #vslider_optionscontainer #vslider_options span {
    font-style: italic;
    font-size: 12px;
    color: #000;
    width: 40%;

}
#home-slider #vslider_optionscontainer #vslider_options .slider-content {
    width: 195px;
    font-style: italic;

    margin: auto;
    height: 14px;
}
#home-slider #vslider_optionscontainer #vslider_options .slider-content a.more{
    height: 20px;
    width: 100px;
    display: block;
    float: none;
    clear: both;
    position: relative;
}
#wrapper #header #topnav li .viewall a:hover {
    color: #000;

}
.tagcloud {
    padding-left: 8px;
}

#main #container #home-content #home-box .sidehome .hbox .formstyle .mc_custom_border_hdr {
    display: none;
    background-color: #F2F2F2;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form .mc_form_inside .mc_merge_var .mc_var_label {
    display: none;
    height: 1px;
    line-height: 1px;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form .mc_form_inside .mc_merge_var #mc_mv_EMAIL {
    width: 177px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup {
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle .mc_custom_border_hdr {
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form {
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form .mc_form_inside .mc_signup_submit input {
    background-color: #F2F2F2;
    border: none !important;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #000;
    font-size: 14px;
    margin-right: -8px;
}
#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form .mc_form_inside .mc_signup_submit {
    text-align: right;
}

.mc_signup_submit input {
    background-color: #ffffff;
    border: none !important;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #000;
    font-size: 14px;
    color: #b3b3b3;
    margin-right: -8px;
    cursor:pointer;
    outline:none;


}
.mc_signup_submit input:active {border: 1px solid #F2F2F2 !important;}

#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form .mc_form_inside .mc_signup_submit input:active {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2 !important;
}

#mc_signup #mc_signup_form .mc_form_inside .mc_merge_var #mc_mv_EMAIL {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e8e8e8;
    margin-top: 5px;
    color: #b3b3b3;
}
#mc_signup #mc_signup_form .mc_form_inside .mc_signup_submit {
    text-align: right;
}
#mc_signup #mc_signup_form {
    margin: 0px;
    padding: 0px;
    color: #b3b3b3;
}
#main #container #blog-side #primary #mc_signup {
    margin-left: 8px;
    margin-right: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #b3b3b3;
    font-style: italic;
}
#mc_signup {
    margin: 0px;
    padding: 0px;
}
#mc_signup #mc_signup_form .mc_form_inside #mc_message {
    margin: 0px;
    padding: 0px;
}


#main #container #home-content #home-box .sidehome .hbox .formstyle #mc_signup #mc_signup_form .mc_form_inside .mc_merge_var {
    margin: 0px;
    padding: 0px;
}

#footer #colophon #footer-widget-area #fourth  #mc_signup #mc_signup_form {
    margin: 0px;
    padding: 0px;
}

#mc_signup_form .mc_form_inside .mc_merge_var {
    margin: 0px;
    padding: 0px;
}
#mc_signup #mc_signup_form .mc_form_inside {
    margin: 0px;
    padding: 0px;
}
#mc_signup_form form {
    margin: 0px;
    padding: 0px;
}
#mc_signup_form .mc_error_msg, .updated{
    margin: 0px;
    padding: 0px;
}
.brandtextbottom a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}










/* TOP NAV */

ul#topnav2 {
    padding: 0px;
    margin-top: 0px;
    list-style: none;

    line-height:11px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    z-index: 12000;
    position: relative;
}
ul#topnav2 li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
ul#topnav2 li a {
    float: left;
    /*text-indent: -9999px;*/
    height: 31px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    color: black;
    background: #fff;
}
ul#topnav2 li:hover a, ul#topnav2 li a:hover {
    background-position: left bottom;
    color: #b3b3b3;
    background: #fff;
    font-style: italic;
}
ul#topnav2 a.designer {
    width: 126px;
    text-align: left;
}
ul#topnav2 a.category {
    width: 171px;
}
ul#topnav a.styleguides {
    width: 117px;
}
ul#topnav2 a.directory {
    width: 113px;
}
ul#topnav2 a.reviews {
    width: 84px;
}
ul#topnav2 a.blogs {
    width: 61px;
}
ul#topnav2 a.contact {
    width: 85px;
    text-align: right;
}
ul#topnav2 li .sub {
    position: absolute;
    top: 25px;
    left: 0;
    background: #fff;
    padding: 10px 0px 15px 0;
    float: left;
    margin-left: -1px;
    display: none;
    z-index: 15000;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
#lat_sub_menu {
    width:536px!important;
    margin-left:-306px!important;
}
#lat_sub_menu_brand {
    width:636px!important;
    margin-left:-15px!important;
}
#lat_sub_menu_cat {
    margin-left:-141px!important;
}
ul#topnav2 li .row {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
ul#topnav2 li .sub ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 159px;
    float: left;
}
ul#topnav2 .sub ul li {
    width: 100%;
    color: #fff;
}
ul#topnav2 .sub ul li h2 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}
ul#topnav2 .sub ul li h2 a {
    padding: 5px 0;
    background-image: none;
    color: #e8e000;
}
ul#topnav2 .sub ul li a {
    float: none;
    text-indent: 0; /*--Reset text indent--*/
    height: auto;
    background: url(navlist_arrow.png) no-repeat 5px 12px;
    padding: 0px 0px 0px 15px;
    display: block;
    text-decoration: none;
    color: #b3b3b3;
    text-align: left;
    line-height: 15px;
    font-style: normal;
}
ul#topnav2 .sub ul li a:hover {
    color: #000000;
    background-position: 5px 12px;

}
/* end */

.hbox p{ margin:0px; padding:0px}